
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color: black;  
}

.container {
    text-align: center;
}

.titre {
    color: lightgreen;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}

.boutons {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}
a{
    text-decoration: none;
}
