<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
    <body>
    <h1>Confirmation</h1>
    
    <p>Nom : {{ nom }}</p>

    <p>Numéro de télephone : {{ telephone }}</p>

    <p>Addresse de livraison : {{ addresse }}</p>
    
    <p>Croute choisi : {{ croute }}</p>

    <p>Sauce choisi : {{ sauce }}</p>

    <p>Garniture #1 : {{ garniture1 }}</p>

    <p>Garniture #2 : {{ garniture2 }}</p>

    <p>Garniture #3 : {{ garniture3 }}</p>

    <p>Garniture #4 : {{ garniture4 }}</p>

    <a href="insertionPizza">Confirmer</a>
    </body>
</html>