<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">

    <title>Menu</title>
</head>
    <body>
        <div class="container">
            <h1 class="titre">Pizzeria chez Antho</h1>
            <div class="boutons">
                <a href="/formulairePizza"><button class="btn">Commander une pizza</button></a>
                <a href="/afficheCommande"><button class="btn">Commandes en attente</button></a>
            </div>
        </div>
    </body>
</html>